<!HTML>
%head
  %link{:href => "stylesheets/foundation.min.css", :rel => "stylesheet"}
  %link{:href => "stylesheets/app.css", :rel => "stylesheet"}
  %link{:href => "stylesheets/style.css", :rel => "stylesheet"}
  %script{:src => "javascripts/modernizr.foundation.js"}
%body
  .header.row
    .twelve.columns.hide-for-small
      %img.logo{:src => "images/logo.png"}/
      %h1 Have a property you'd like to report?
    .twelve.columns.hide-for-medium.hide-for-large
      %img.mobile-logo{:src => "images/logo.png"}/
      %h1.mobile Have a property you'd like to report?
  .content.row
    .steps
      .four.columns
        %h2
          %span> 1.
          Get the Address
          %h2
            .icon.notepad
              %img{:src => "images/notepad.png"}/
            %p
              We can't do much unless we know
              where the property is.
      .four.columns
        %h2
          %span> 2.
          Snap a Picture
          %h2
            .icon.camera
              %img{:src => "images/camera.png"}/
            %p
              A picture speaks a thousand words.
              This isn't required, but encouraged!
      .four.columns
        %h2
          %span> 3.
          Find the Property
          %h2
            .icon.search
              %img{:src => "images/search.png"}/
            %p
              It helps us if you can look up the property owner through Hamilton Country Auditor.
              %span
                Note: This takes you to a new site.
                %span/
  .row
    .five.columns.centered
      %a.button{:href => "#"}
        %h2 Submit Vacant Property
  .home-footer
    .footer.row
      .two.columns
        %img.cufa{:src => "images/cufa_logo.png"}/
      .five.columns
        %h2 What is CUFA?
        %p Communities United for Action is a city-wide, multi-issue community organization, which brings together organizations and communities across Cincinnati. Since 1980, CUFA has brought together people of multiple cultural and ethnic backgrounds and different income levels so we can support each other in building our own communities and work together on common issues, which affect all our neighborhoods.
      .five.columns
        %a{:href => "#"}
          %h3
            %span Visit Our Site to Learn More →