<!HTML>
%head
  %link{:href => "stylesheets/foundation.min.css", :rel => "stylesheet"}
  %link{:href => "stylesheets/app.css", :rel => "stylesheet"}
  %link{:href => "stylesheets/style.css", :rel => "stylesheet"}
  %script{:src => "javascripts/modernizr.foundation.js"}
%body
  .header.row
    %img.logo{:src => "images/logo.png"}/
    %img.cufa{:src => "images/cufa_logo.png"}/
  .content
    .row
      .twelve.columns
        %h1 Thank You for Submitting a Property
    .row
      .four.columns.property
        %h2
          %span Reported Property
        %ul
          %li
            %h4 11122 Vine St Cincinnati, OH 45219
          %li
            %h5
              %span Reported Owner:
              John Doe
          %li
            %h5
              %span Area:
              City of Cincinnati
      .four.columns.offset-by-one.end
        %h2
          %span Resource Contacts
        %ul
          %li
            %h5 City of Cincinnati
          %li
            %h5 Jackie Baker
          %li
            %h4 Department of Stuff
          %li
            %h4 (513)000-0000
    .row
      .five.columns
        %a.button{:href => "#"}
          %h2 Submit Another Property
    .row
      .twelve.columns
        %h2
          %span Your Information
        %ul
          %li
            %h4 John Smith
          %li
            %h5 (513)000-0000
          %li
            %h5 jsmith@gmail.com
  .footer.row
    .twelve.columns.hide-for-small
      %a{:href => "#"}
        %img.fb{:src => "images/f_logo.png"}/
      %a{:href => "#"}
        %h3 Visit CUFA for more information →
    .twelve.columns.hide-for-medium.hide-for-large
      %a{:href => "#"}
        %h3 Visit CUFA for more information →
      %a{:href => "#"}
        %img.mobile-fb{:src => "images/f_logo.png"}/
        Like CUFA on Facebook