<!HTML>
%head
  %link{:href => "stylesheets/foundation.min.css", :rel => "stylesheet"}
  %link{:href => "stylesheets/app.css", :rel => "stylesheet"}
  %link{:href => "stylesheets/style.css", :rel => "stylesheet"}
  %script{:src => "javascripts/modernizr.foundation.js"}
%body
  .header.row
    %img.logo{:src => "images/logo.png"}/
    %img.cufa{:src => "images/cufa_logo.png"}/
  .content
    .row
      .twelve.columns
        %h1 Vacant Property Watch
    .row
      .instructions.twelve.columns
        %p Please complete this form and press the [Submit] button at the bottom of the form.
        %p
          %span Note: REQUIRED field are marked with with a red asterisk.
        %h2 Respondent Information
        %p Please provide your contact infromation in this section.
  .footer.row
    .twelve.columns.hide-for-small
      %a{:href => "#"}
        %img.fb{:src => "images/f_logo.png"}/
      %a{:href => "#"}
        %h3 Visit CUFA for more information →
    .twelve.columns.hide-for-medium.hide-for-large
      %a{:href => "#"}
        %h3 Visit CUFA for more information →
      %a{:href => "#"}
        %img.mobile-fb{:src => "images/f_logo.png"}/
        Like CUFA on Facebook