- content_for(:title) { 'Getting Property Information' }

.row.wait
  .four.columns.centered
    #spin
.row
  .four.columns.centered
    %h4
      Waiting for information about the property. You'll be on your way in a second or two.
- content_for(:javascript) do
  :javascript
    $(document).ready(function() {
      var timer = setInterval(checkSubmission, 1000);

      function checkSubmission() {
        $.getJSON("#{thank_you_path(params[:id])}",
          function(data, statusText, xmlRequest) {
            window.location.href = "#{thank_you_path(params[:id])}";
          }
        );
      }
    });

    var opts = {
      lines: 13, // The number of lines to draw
      length: 36, // The length of each line
      width: 4, // The line thickness
      radius: 24, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: '20', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
    };

    var target = document.getElementById('spin');
    var spinner = new Spinner(opts).spin(target);
